@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */
.card {
    & {
        display: flex;
        margin: auto;
        justify-content: center;
        // align-items: center;
        // margin-bottom: 1.5em;
    }
    .card-header {
        & {
            display: flex;
            align-items: center;
            padding: .5rem 1.5rem;
            min-height: 3.5rem;
            background-color: $white;
            border-bottom: 1px solid #e8ebf3;
            text-decoration-color: #161618;
        } 
        .card-title {
            font-size: 18px;
            font-weight: 500;
        }
    }
    .card-description {
        font-family: 'Roboto';
        font-size: 14px;
        color: inherit;
        white-space: pre-line;
        word-break: break-all;
    }
    .card-footer {
        background-color: $white;
    }
}

#catalog-page {
    background-color: #4640df;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 900px;
}

#catalog-page>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.allAds {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;
}

.allAds-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allAds-info>img {
    margin-top: -10px;
    border-radius: 50%;
    height: 140px;
    position: absolute;
    top: 30px;
    right: 30px;
    float: right;
    padding: 5px;
    width: 140px;
}

.allAds-info>h6 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.allAds-info>h2 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.details-button {
    background-color: #2A265F;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    position: flex;
    bottom: 30px;
    text-decoration: none;
    text-align: left;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    margin-left: 20px;
}